#box{
    float: right;
}


.background{
    z-index: 0;
    position: relative;
}

.content{
    z-index: 1;
    position: absolute;
    margin-top: -280px;
    margin-left: -25px;
    text-align-last: center;
}

.content p{
    color: grey;
}

.route img{
      margin-left:50px;
      padding: 10px;
}

.routecon{
    margin-left: 50px;
    margin-top: 50px;
}